<%= form_for(@perfume, class: 'form-horizontal', role: 'form') do |f| %>
    <div class="perfume-container">
        <div class="col-12">
            <p>Q1. どちらかと言うと…</p>
        </div>
        <div class="col-6">
            <%= f.radio_button :question1, "1", id: "custom_id1" %>
            <label for="custom_id1">お腹いっぱい食べたい</label>
            <%= f.radio_button :question1, "2", id: "custom_id2" %>
            <label for="custom_id2">軽めに済ませたい</label>
        </div>
        <div class="col-12">
            <p>Q2. 今の気分は…</p>
        </div> 
        <div class="col-6">
            <%= f.radio_button :question2, "1", id: "custom_id3" %>
            <label for="custom_id3">さっぱりあっさり</label>
            <%= f.radio_button :question2, "2", id: "custom_id4" %>
            <label for="custom_id4">こってり濃いめに</label>
        </div>   
        <div class="col-12">
            <p>Q3. どちらかというと…</p>
        </div>
        <div class="col-6">
            <%= f.radio_button :question3, "1", id: "custom_id5" %>
            <label for="custom_id5">温かいもの</label>
            <%= f.radio_button :question3, "2", id: "custom_id6" %>
            <label for="custom_id6">冷たいもの</label>
        </div>
    
        <div class="col-12">
            <p>Q4. 状況は…</p>
        </div>
        <div class="col-6">
            <%= f.radio_button :question4, "1", id: "custom_id7" %>
            <label for="custom_id7">ひとりで気楽に</label>
            <%= f.radio_button :question4, "2", id: "custom_id8" %>
            <label for="custom_id8">友達とわいわい</label>
        </div>
    </div>
    <div class="sindanbotan">
        <%= f.submit " 結果 " %>
    </div>
<% end %>
